<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBU7wEfndYUbBD9jIsXW-ZCW_dcpoJqyBY</string>
	<key>GCM_SENDER_ID</key>
	<string>328734103172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.literalomicus.kangarule</string>
	<key>PROJECT_ID</key>
	<string>production-ab9c8</string>
	<key>STORAGE_BUCKET</key>
	<string>production-ab9c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328734103172:ios:e739787c9c12acbca894d1</string>
	<key>DATABASE_URL</key>
	<string>https://production-ab9c8-default-rtdb.firebaseio.com</string>
</dict>
</plist>