<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    
    <key>teamID</key>
    <string>6ABV2967CN</string>
    
    <key>signingStyle</key>
    <string>manual</string>
    
    <key>provisioningProfiles</key>
    <dict>
        <key>com.literalomicus.kangarule</key>
        <string>literalomicus</string>
    </dict>
    
    <key>signingCertificate</key>
    <string>D4510BBDE0B01C2A517DB1E59A981CB040844001</string>
           
    
    <key>uploadBitcode</key>
    <false/>
    <key>uploadSymbols</key>
    <true/>

</dict> </plist>



